.matches {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 15px 0;
    overflow-y: hidden;
    max-width: 1550px;
    margin: 0 auto;
}

.matches-header {
    width: 100%;
    height: 76px;
    border-radius: var(--spacing3);
    border: 1px solid var(--borderColor1);
    background-color: var(--backGround3);
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    padding: 0 1rem;
}

.matches-header-flex {
    justify-content: flex-start;
    gap: 0 15px;
}

.matches-header .matches-custom-radio {
    padding: 1rem 1.2rem;
    font-size: .82rem;
}

.matches-header .current-user-info-box {
    border-bottom: none;
    padding: 0;
}

.empty-matches {
    background-color: var(--backGround3);
    border: 1px solid var(--borderColor1);
    height: fit-content;
    padding: 1.5em 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 16px;
    text-align: center;
}

.empty-matches h3 {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.empty-matches p {
    font-size: .95rem;
    font-weight: 300;
    color: var(--lowFadedText);
    margin-block: .5rem 1rem;
}


@media (max-width: 650px) {
    .matches {
        gap: 5px 0;
    }

    .matches-header {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        grid-template-columns: 1fr;
        height: unset;
        gap: .8rem 0;
        padding: 0;
        gap: 0;
    }

    .matches-header-flex {
        justify-content: center;
        order: 2;
        padding: 1rem;
        gap: 0 15px;
    }

    .matches-header .current-user-info-box {
        border-bottom: 1px solid var(--borderColor1);
        padding: .8rem 0;
    }

}

@media (max-width: 450px) {

    .matches-header .current-user-info-box {
        border-bottom: 1px solid var(--borderColor1);
    }

    .matches-header-flex {
        justify-content: space-between;
        order: 2;
        padding: 1rem .75rem;
        gap: 0 5px;
    }

    .matches-header .matches-custom-radio {
        padding: .9rem 0rem;
        font-size: .72rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 360px) {
    .matches-header .matches-custom-radio {
        font-size: .65rem;
    }

    .matches-header-flex {
        padding: 1rem .5rem;
    }
}