.payment {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 500px;
    color: var(--darkText);
    max-width: 1450px;
    max-height: 800px;
    justify-self: center;
}

.payment form {
    width: 100%;
    border: 1px solid var(--borderColor1);
    background-color: var(--backGround3);
    border-radius: var(--spacing4);
    padding: clamp(1rem, 5vw, 5rem);
    /* align-self: self-end; */
}

.payment-input-header-title,
.payment-input-header-sub-title {
    font-size: .9rem;
}

.payment-input-header-title {
    font-weight: 600;
}

.payment-input-header-sub-title {
    font-weight: 300;
    color: var(--lowFadedText);
}

.payment-input-wrapper {
    width: 100%;
    border-radius: var(--spacing3);
    background-color: var(--input1);
    border: 1px solid var(--borderColor1);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.payment-input {
    height: 60px;
    width: 100%;
    border-radius: var(--spacing3);
    background: transparent;
    border: none;
    font-size: 1rem;
}

.payment-input::placeholder {
    font-size: .8rem;
    color: var(--fadedText);
}

.payment-input:focus {
    border: none;
    outline: none;
}

.payment-cvv-input {
    width: 65%;
}

.payment-last-date-input {
    width: 45%;
}

.credit-card {
    width: 225px;
    height: 350px;
    background-size: cover;
    background: url('../../assets/images/credit_card_grain.png'), var(--backGround3);
    border: 1px solid var(--borderColor1);
    border-radius: var(--spacing4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-blend-mode: hard-light;

    overflow: hidden;
    justify-self: center;
    box-shadow: 14px 13px 80px 0px #0000001A;

    font-size: .9rem;
    font-weight: 600;
    top: -180px;
}

.credit-card span {
    text-transform: capitalize;
}

.credit-card-content {
    width: 100%;
    height: 100%;
    padding: 1.4rem;
}

.credit-payment-infos {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: center;
    width: 82%;
    height: 525px;
    background-color: var(--backGround4);
    align-self: self-end;
    border-radius: var(--spacing4);
    border: 1px solid var(--borderColor1);
    padding: 1.7rem;
}

.credit-payment-infos::after,
.credit-payment-infos::before {
    display: block;
    position: absolute;
    content: '';
    background-color: var(--backGround2);
    /* border: 1px solid var(--borderColor1); */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    bottom: 14%;
}

.credit-payment-infos::after {
    right: -12.5px;
}

.credit-payment-infos::before {
    left: -12.5px;
}

.credit-payment-infos-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-top: 180px;
    color: var(--whiteText);
    font-size: .9rem;
    font-weight: 600;
}

.credit-payment-infos-content-title {
    font-weight: 600;
    font-size: 1rem;
}

.credit-payment-infos-dot-lines {
    position: absolute;
    width: 82%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    bottom: calc(14% + 12.5px);
    border-bottom: 1px dotted var(--lowWhiteText);
}

.payment-cvv-number-wrapper {
    flex-direction: row;
}

/* ANIMATIONS */
@media (max-width: 1150px) {
    .payment {
        grid-template-columns: 3fr 430px;
        margin-top: 180px;
        gap: 10px 0;
    }

    .credit-payment-infos {
        width: 100%;
    }

    .payment form {
        order: 2;
    }
}


@media (max-width: 650px) {
    .payment {
        grid-template-columns: 1fr;
        max-width: 550px;
    }
}

@media (max-width: 500px) {

    .payment-cvv-number-wrapper,
    .payment-last-date-wrapper {
        flex-direction: column;
        align-items: start;
        gap: 10px 0;
    }

    .credit-payment-infos::after,
    .credit-payment-infos::before {
        display: none;
    }
}