.user-home {
    display: grid;
    grid-template-columns: 270px 4fr 2.5fr;
    gap: 0 clamp(.4rem, 1vw, 1rem);
    justify-items: center;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
}


.swipe-container {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

.swipe-item {
    width: 100%;
    margin: 0 auto 1rem auto;
}

.swipe-bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    height: 122px;
    width: 270px;
    margin: 0 auto;
}

.swipe-bottom-bar-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 50%;
    border-radius: 40px;
    background-color: var(--backGround3);
    border: 1px solid var(--borderColor1);
}

.swipe-bottom-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.swipe-bottom-bar-button:nth-child(1) {
    background: var(--backGround2);
    border: 1px solid var(--borderColor1);
}

.swipe-bottom-bar-button:nth-child(2) {
    background: var(--backGround4);
}

.swipe-bottom-bar-button:nth-child(3) {
    background: var(--brand2);
}

.swipe-bottom-bar-send-message-button {
    width: 100%;
    height: 50px;
    background-color: var(--brand1);
    border-radius: 22px 22px 0 0;
    color: var(--whiteText);
    font-weight: 600;
    font-size: .85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    cursor: pointer;
}

.swipe-bottom-bar-send-message-button:active {
    background-color: var(--brand2);
}

.user-home-notications {
    width: 100%;
    overflow-y: scroll;
}

.user-home-notications-container {
    padding: 1.5rem 1.5rem 1rem;
    width: 100%;
    border: 1px solid var(--borderColor1);
    background-color: var(--backGround3);
    border-radius: 12px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.user-home-notications-container a {
    color: var(--brand1);
    text-decoration: none;
    font-size: .85rem;
    display: flex;
    align-items: center;
}

.user-home-notications-container h4 {
    font-size: .85rem;
    color: var(--darkText);
    font-weight: 600;
}

.user-home-notications-container a svg {
    transition: transform 250ms ease;
}

.swipe-container-image-wrapper {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.swipe-container-image-wrapper img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.swipe-container-image-wrapper-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(rgba(22, 30, 42, 0) 0%, rgba(22, 30, 42, .5) 100%);
    padding: 1rem;
    color: var(--whiteText);
    display: flex;
    align-items: end;
}

.swipe-item-user-info {
    font-size: 2rem;
    font-weight: 600;
}

.swipe-item-user-status {
    font-weight: 500;
    font-size: 1.1rem;
}

.swipe-container-item-about-container {
    width: 100%;
    padding: 1.5rem;
    margin: 1rem 0;
    background: white;
    border-radius: 12px;
    border: 1px solid var(--borderColor1);
}

.swipe-item-user-bio {
    border-bottom: 1px solid var(--borderColor1);
    padding-bottom: 1rem;
    font-weight: 600;
}

.swipe-container-item-about-container h4 {
    color: var(--darkText);
    font-size: 1rem;
    font-weight: 600;
}

.swipe-item-info-text {
    margin-top: 1rem;
    color: var(--lowFadedText);
    font-size: .9rem;
    max-width: 550px;
}

.swipe-item-user-properties {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.user-propertie {
    padding: .75rem .75rem;
    border: 1px solid var(--borderColor1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
}

.user-propertie span {
    color: var(--darkText);
    font-weight: 400;
}

.swipe-bottom-bar-send-message-button:hover {
    background-color: var(--brand2);
}

.swipe-bottom-bar-button svg {
    transition: transform 300ms ease;
}

.swipe-bottom-bar-button:hover svg {
    transform: scale(1.15);
}

.user-home-notications-container a:hover svg {
    transform: translateX(4px);
}

.user-home .notification-layout:hover .notification-time {
    color: var(--brand1);
    font-weight: 400;
}

.user-home .notification-layout:hover svg {
    fill: var(--brand1);
}

.user-home .notification-layout:hover svg path {
    stroke: var(--brand1);
}

.like-popup-wrapper {
    position: absolute;
}

.like-popup {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

.user-home-sidebar-container {
    width: 100%;
    overflow: scroll;
    border-radius: var(--spacing3) var(--spacing3) 0 0;
}

.user-home-filters {
    width: 100%;
    background: var(--backGround3);
    border-radius: var(--spacing3);
    border: 1px solid var(--borderColor1);
    margin-bottom: .85rem;
    padding-bottom: .9rem;
}

.user-home-filters-options-wrapper {
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: height 350ms ease, opacity 0ms ease;
}

.user-home-filters-options-wrapper.active {
    padding: 0 1rem;
    display: block;
    transition: height 500ms ease, opacity 300ms ease 200ms;
    height: calc(297px);
    opacity: 1;
}

.user-home-swipe-error-container {
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: var(--spacing3);
    text-align: center;
    font-weight: 600;
}

.user-home-swipe-error-container p:nth-child(1) {
    font-size: 1.2rem;
    color: var(--brand1);
}

.user-home-swipe-error-container p:nth-child(2) {
    margin-top: .7rem;
    font-size: 1rem;
    color: var(--lowFadedText);
}

.swipe-slide {
    border-radius: 10px;
}

.swipe-slide-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.swipe-item-slide-image-box {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.swipe-item-slide-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swipe-slide-arrow-left-button,
.swipe-slide-arrow-right-button {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: var(--backGround3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--borderColor1);
    opacity: .9;
}

.swipe-slide-arrow-right-button:active,
.swipe-slide-arrow-left-button:active {
    opacity: .7;
}

@media (min-width: 400px) {
    .swipe-container-image-wrapper {
        max-height: 559px;
    }
}

@media (max-width: 970px) {

    .user-home-notications-container a,
    .user-home-notications-container h4 {
        font-size: .75rem;
    }

    .user-home-notications .notification-layout-image-avatar {
        width: 57px;
        height: 57px;
    }

    .user-home-notications .notification-time {
        display: none;
    }
}

@media (max-width: 1190px) {
    .user-home {
        grid-template-columns: 5fr 3.5fr;
    }
}

@media (max-width: 765px) {

    .user-home-notications {
        display: none;
    }

    .user-home {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {

    .swipe-item-user-info {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .swipe-item-user-status {
        font-weight: 500;
        font-size: .8rem;
    }

    .user-social-button {
        height: 50px;
        padding: .35rem .65rem;
        border-radius: 10px;
        font-size: .78rem;
        gap: 0 7px;
    }

    .user-social-button svg {
        width: 25px;
        height: 25px;
    }

    .swipe-item-user-properties {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 11px 9px;
        flex-wrap: wrap;
    }

    .user-propertie {
        padding: .65rem .65rem;
        gap: 0 5px;
        font-size: .8rem;
    }

    .user-propertie svg {
        width: 26px;
        height: 26px;
    }

    .swipe-container-item-about-container {
        padding: 1rem;
    }

    .like-popup {
        width: 85vw;
        height: 85vw;
    }

}


@media (max-width:340px) {
    .swipe-bottom-bar {
        height: 108px;
        width: 240px;
        margin: 0 auto;
    }

    .swipe-bottom-bar-buttons-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 78%;
        height: 52%;
        border-radius: 40px;
        background-color: var(--backGround3);
        border: 1px solid var(--borderColor1);
    }

    .swipe-bottom-bar-button {
        width: 45px;
        height: 45px;
    }

    .swipe-bottom-bar-send-message-button {
        height: 45px;
        font-size: .8rem;
    }
}