.user-profile {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
}

.user-profile-top-banner {
    top: 0;
    position: absolute;
    width: 95%;
    height: 70px;
    background: var(--brand2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
}

.user-profile-grid {
    margin: 0 auto;
    width: 95%;
    padding: 0 2em;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 0 15px;
    overflow: hidden;
}

.user-profile-left-col,
.user-profile-right-col {
    width: 100%;
    z-index: 1;
}

.user-profile-left-col {
    height: calc(100% - 30px);
    transform: translateY(30px);
    padding-bottom: 30px;
    overflow: scroll;
    border-radius: 12px;
}

.user-profile-right-col {
    height: calc(100% - (70px + 15px));
    transform: translateY(70px);
    margin-top: 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.user-profile-navigation {
    width: 100%;
    border-radius: 12px;
    background: white;
    border: 1px solid var(--borderColor1);
    margin-bottom: 15px;
}

.user-profile-navigation-item {
    display: flex;
    gap: 0 10px;
    padding: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    color: var(--darkText);
    text-decoration: none;
    font-size: .85rem;
}

.user-profile-navigation-item.active,
.user-profile-navigation-item:hover {
    color: var(--brand1);
}

.user-profile-navigation-item.active svg path,
.user-profile-navigation-item:hover svg path {
    stroke: var(--brand1);
}

.user-profile-navigation-item::after {
    content: '';
    width: 78%;
    height: 1px;
    background: var(--borderColor1);
    position: absolute;
    top: 100%;
}

.user-profile-navigation-item::before {
    content: '';
    height: 40%;
    border-radius: 12px;
    width: 3px;
    background: var(--brand1);
    position: absolute;
    left: -1px;
    display: none;
}

.user-profile-navigation-item.active::before {
    display: block;
}

.user-profile-navigation-item:hover::before {
    display: block;
}

.user-right-col-content-wrapper {
    background: var(--backGround3);
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 12px;
    border: 1px solid var(--borderColor1);
}

.profile {
    padding-top: 3rem;
}

.user-profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 1rem;
}

.user-profile-header:after {
    content: '';
    background: var(--borderColor1);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
}

.user-profile-header h3 {
    font-size: .95rem;
    font-weight: 600;
}

.profile-user-profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    margin: 0 auto;
    width: fit-content;
}

.profile-user-photos-wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.user-profile-input::placeholder {
    color: var(--fadedText);
    font-size: .85rem;
}

.user-profile-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    gap: 0 15px;
}

.user-profile-date-wrapper {
    width: 100%;
    position: absolute;
    top: 65px;
    border: 1.2px solid #e64997d1;
    padding: .5rem .8rem;

    background: var(--backGround3);

    z-index: 999;
    border-radius: 12px;

    animation: fade 100ms ease;
    transform-origin: top right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile #register-date {
    --rdp-selected-border: 1.2px solid var(--brand1);
    --rdp-day_button-height: clamp(32px, 7.5vw, 52px);
    --rdp-day_button-width: clamp(32px, 7vw, 52px);
    font-size: 1rem;
    color: var(--brand1);
}

.user-delete-button {
    transition: scale 250ms ease;
    color: var(--negative);
}

.user-delete-button:hover {
    background: var(--negative);
    color: var(--whiteText)
}

.user-delete-button:hover svg path {
    stroke: var(--whiteText);
}

.unblock-popup {
    width: 70%;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px 0;
    background: var(--backGround3);
    padding: 1rem;
    justify-items: center;
    border-radius: 16px;
    border: 1px solid var(--borderColor1);
    animation: fade 250ms ease;
}

.unblock-popup p {
    text-align: center;
    color: var(--lowFadedText);
    font-weight: 300;
    font-size: .95rem;
}

.dashed-border{
    position: relative;
    gap: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 12px;
    height: 53px;
    background-image: repeating-linear-gradient(46deg, #ebe9e1, #ebe9e1 14px, transparent 14px, transparent 24px, #ebe9e1 24px), repeating-linear-gradient(136deg, #ebe9e1, #ebe9e1 14px, transparent 14px, transparent 24px, #ebe9e1 24px), repeating-linear-gradient(226deg, #ebe9e1, #ebe9e1 14px, transparent 14px, transparent 24px, #ebe9e1 24px), repeating-linear-gradient(316deg, #ebe9e1, #ebe9e1 14px, transparent 14px, transparent 24px, #ebe9e1 24px);
background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;

}

.dashed-border:hover{
    background-image: repeating-linear-gradient(46deg, #e64997, #e64997 14px, transparent 14px, transparent 24px, #e64997 24px), repeating-linear-gradient(136deg, #e64997, #e64997 14px, transparent 14px, transparent 24px, #e64997 24px), repeating-linear-gradient(226deg, #e64997, #e64997 14px, transparent 14px, transparent 24px, #e64997 24px), repeating-linear-gradient(316deg, #e64997, #e64997 14px, transparent 14px, transparent 24px, #e64997 24px);
background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
animation: borderAnimation 0.8s infinite linear;
}

.user-support a{
    color: var(--fadedText);
    text-decoration: none;
    font-size: .95rem;
}

.user-support a.active{
    font-weight: 600;
    color: var(--brand1);
}

.user-ticket-wrapper{
    margin-bottom: 15px;
}

.user-ticket{
    border: 1px solid var(--borderColor1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-ticket-header{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.user-ticket-header{
    padding: 0 1.5rem;
}

.user-ticket-header h4{
    font-weight: 600;
    font-size: .95rem;
}

.user-ticket-time{
    font-size: .8rem;
    color: var(--lowFadedText);
}

.user-ticket-header-group{
    align-items: center;
    display: flex;
    gap: 0 10px;
}

.user-ticket-content-message{
    padding: 1.5rem;
    position: relative;
}

.user-ticket-content-message::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    height: 1px;
    background: var(--borderColor1);;
}

.user-ticket-content-message p {
    color: var(--lowFadedText);
    font-weight: 300;
    font-size: .9rem;
}

.user-ticket-content-message h4{
    color: var(--brand1);
    font-size: .95rem;
    font-weight: 600;
}

/* ANIMATION */
@keyframes borderAnimation {
    from { background-position: 0 0, -34.55px 0, 100% -34.55px, 0 100%; }
    to { background-position: 0 -34.55px, 0 0, 100% 0, -34.55px 100%; }
}