.visit {
    width: 100%;
     max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.visit-grid-container {
    display: grid;
    gap: 0 clamp(.4rem, 1vw, 1rem);
    overflow: hidden;
    height: 100%;
}

.visit-user-container {
    width: 100%;
    overflow-y: scroll;
    position: relative;
    border-radius: 12px 12px 0 0;

}

.visit-grid-container-left-column,
.visit-grid-container-right-column {
    overflow: scroll;
}

@media (min-width: 1300px) {
    .visit-grid-container {
        grid-template-columns: 250px 4fr 2.5fr;
    }

}