.info-images-section {
    background: var(--brand2);
    background-image: url('../assets//images/pink_background.png');
    background-size: cover;
    background-blend-mode: difference;
    height: fit-content;
}

.info-images-container {
    max-width: 1300px;
    margin: 0 auto;

}

.info-images-container h2 {
    color: var(--whiteText);
    font-size: clamp(33px, 4vw, 47px);
}

.info-image-box {

    flex: 1;
    border-radius: 24px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.213);
}

.info-image-box img {
    display: block;
    width: 100%;

}