@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Ambit";
  src: url('./assets/fonts/Ambit-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Ambit";
  src: url('./assets/fonts/Ambit-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ambit";
  src: url('./assets/fonts/Ambit-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Ambit";
  src: url('./assets/fonts/Ambit-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url('./assets/fonts/Euclid-Circular-A-Bold.ttf'), format('truetype');
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background Colors */
  --backGround1: #E649971A;
  --backGround2: #F9F9F9;
  --backGround3: #FFFFFF;
  --backGround4: #412A78;
  --backGround5: #E05775;

  /* Brand Colors */
  --brand1: #E64997;
  --brand2: #DD88CF;

  /* Icon Colors */
  --icon: #18181C;
  --menuIcon: #4B164C;
  --fadedIcon: #B0B0B0;

  /* Basic Colors */
  --onlineColor: #1CE761;
  --blue: #497BE6;
  --negative: #D10B0B;
  --negativeBlack: #343434;

  /* Boder Colors */
  --borderColor1: #EBE9E1;
  --borderColor2: #252241;


  /* Spray Colors */
  --sprayBlue: #5E9BEB;
  --sparyBlue2: #3FBFFF;
  --sprayYelow: #FFEF3F;
  --sprayPink: #E451DA;
  --sprayPurple: #A418F5;
  --sprayGray: #D3D3D3;
  --sprayTransparent: #FFFFFF00;


  /* Text Colors */
  --darkText: #18181C;
  --fadedText: #B0B0B0;
  --lowFadedText: #747477;
  --whiteText: #FFFFFF;
  --lowWhiteText: #FFFFFF1A;

  /* IpnutColors */
  --input1: #F7F7F7;

  /* Other Colors */
  --lowPink: #DD88CF0F;
  --lowGreen: #30CF6D0F;
  --midBlack: #00000066;
  --midwhite: #FFFFFF66;

  /* Shadows */
  --extraLowShadow: .5px .5px 3px rgba(0, 0, 0, 0.15);
  --lowShadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  --lowMidShadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  --midShadow: 1px 1px 3px rgba(0, 0, 0, 0.45);

  /* Spacing */
  --spacing3: 12px;
  --spacing4: 16px;
}

.notifications::-webkit-scrollbar,
.premium-subscription::-webkit-scrollbar,
.market::-webkit-scrollbar,
.swipe-container::-webkit-scrollbar,
.user-home-notications::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.notifications,
.webkit-scrollbar,
.market,
.swipe-containe,
.user-home-notications {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


header a,
.basic-button {
  cursor: pointer;
  font-weight: 600;
}

body {
  font-family: 'Ambit', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--backGround2);
}

/* Component Styles */
.blur-button,
.basic-button {
  border: none;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--extraLowShadow);

  position: relative;
  /* z-index: 98; */

  &:active {
    opacity: .8;
  }

}

.padding-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* GENERAL STYLES */
header {
  user-select: none;
  max-width: 900px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 81px;
}

header h1 {
  font-size: 20px;
  font-family: 'Euclid Circular A', sans-serif;
  font-weight: 700;
}

header a {
  text-decoration: none;
  font-size: 15px;
}

.fixed-navbar {
  position: absolute;
  padding: .7rem;
  top: 110%;
  right: 1%;
  border-radius: 10px;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 9999;
  transition: transform 450ms ease;
  box-shadow: var(--lowShadow)
}


.premium-box {
  width: 27vw;
  height: calc(27vw * 1.4112);
  min-width: 250px;
  min-height: 352px;
  max-width: 268px;
  max-height: calc(268px * 1.4112);
  background: var(--backGround4);
  border-radius: 12px;
  background-image: url('./assets/images/premium_box_mask.png');
  background-size: cover;
  padding: 1.5rem .7rem .8rem .7rem;
  color: var(--whiteText);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
}

.premium-box h2 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.premium-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.premium-content h3 {
  margin-top: .8rem;
  font-size: .95rem;
  font-weight: inherit;
}

.premium-content p {
  max-width: 230px;
  font-weight: 300;
  margin-top: .3rem;
  font-size: clamp(.8rem, 1.3vw, .88rem)
}

.premium-content-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 18px;
  margin: 0 auto;
}

.premium-content-control-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--lowWhiteText);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

.premium-content-control-position {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--lowWhiteText);
}

.premium-content-control-position.active {
  background-color: var(--whiteText);
}

.logout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logout-container {
  width: 70%;
  background-color: var(--backGround3);
  padding: 1rem;
  border: 1px solid var(--borderColor1);
  border-radius: 12px;
  max-width: 280px;
}

.logout-container h3 {
  color: var(--darkText);
  font-size: 1rem;
  font-weight: 600;
}

.logout-container p {
  margin-top: .5rem;
  color: var(--lowFadedText);
  font-size: .8rem;
  font-weight: 300;
}

/* ANIMATIONS */
@media (min-width: 500px) {

  .blur-button,
  .basic-button {

    &:hover {
      opacity: .8;
    }

  }
}

@keyframes fadeHeader {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.1);
  }
}