.register {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: clamp(15px, 5vw, 18px) 0;
    background: var(--backGround2);
    position: relative;
}

.register-date-wrapper {
    position: absolute;
    left: 50%;
    top: 110px;
    transform: translateX(-50%) translateY(100vh);
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
    border: 1.7px solid #e64997d1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .8rem;

    background: var(--backGround3);

    z-index: 999;
    border-radius: 12px;
    position: absolute;

    transition: transform 350ms ease;
    transform-origin: right;


    max-width: 395px;
    width: 92%;
}

.register-date-wrapper.active {
    transform: translateX(-50%) translateY(0%);
}

#register-date {
    --rdp-accent-color: var(--brand1);
    --rdp-day_button-border-radius: 12px;
    --rdp-selected-border: 1.5px solid var(--brand1);
    --rdp-day_button-height: clamp(32px, 7.5vw, 47px);
    --rdp-day_button-width: clamp(32px, 7vw, 47px);
    --rdp-today-color: var(--darkText);
    font-size: 1rem;
    color: var(--brand1);
}

.rdp-caption_label {
    font-weight: 600;
}

.resgister-user-image-preview {
    height: fit-content;
    width: 80%;
    max-width: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: .4rem;
    border-radius: 8px;
    z-index: 2;
    background: var(--backGround2);
    box-shadow: var(--LowShadow)
}

.resgister-user-image-preview img {
    width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 8px;
}

.register-preview-button-icon {
    margin-right: .2rem;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.register-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem auto;
    width: 90%;
    position: relative;
}

.register-container {
    width: 100%;
    max-width: 430px;
    background: var(--backGround3);
    box-shadow: var(--extraLowShadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem;
    transition: height 500ms ease;

    position: relative;
}

.register-back-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--borderColor1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 200ms ease;

    &:active {
        scale: 1.1;
    }
}

.register-position-wrapper {
    flex: 1;
    height: 4px;
    border-radius: 5px;
    background: var(--borderColor1);
}

.register-position {
    height: 100%;
    transition: width 350ms ease;
    background: var(--brand1);
    border-radius: 5px;
}

.position-count {
    font-weight: 600;
    font-size: clamp(.8rem, 3vw, .9rem);
}

.register-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.register-container h2 {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.031rem;
    color: var(--darkText);
}

.register-input-wrapper {
    margin-top: .5rem;
    width: 100%;
    height: clamp(50px, 11.2vw, 58px);
    padding: 0 .7rem;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.register-name-input {
    border: none;
    width: 100%;
    color: var(--darkText);
    font-size: 1rem;
}

.register-name-input:focus {
    outline: none;
}

.register-name-input::placeholder {
    font-family: inherit;
    color: var(--fadedText);
    font-size: clamp(.8rem, 2.1vw, .9rem);
}

.register-info-text {
    align-self: self-start;
    margin: .5rem 0 1.5rem 0;
    color: var(--lowFadedText);
    font-weight: 300;
    font-size: clamp(12px, 3.7vw, 15px);
}

.input-user-icon {
    width: 3vw;
    height: 3.1vw;
    min-width: 21px;
    min-height: 22px;
    max-width: 24.5px;
    max-height: 25.5px;
}

.register-error-text {
    margin-bottom: 1.5rem;
    color: var(--negative);
    text-align: center;
    font-size: .9rem;
}

.register-birth-date {
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0 8px;
    height: 80px;
}

.register-birth-date:active .date-box {
    border: 1px solid var(--brand1);
    cursor: pointer;
}

.date-box {
    border: 1px solid var(--borderColor1);
    border-radius: 12px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.register-gender-radio {
    font-size: clamp(.8rem, 2vw, .95rem)
}

.register-hobbies {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 7px;
}

.hobbie-check-box {
    width: fit-content;
    padding: 0 clamp(.75rem, 1.9vw, 1rem);
    height: 45px;
    display: flex;
    gap: 0 4px;
    align-items: center;
    border-radius: 15px;
    font-size: clamp(.8rem, 2vw, .85rem);
    cursor: pointer;
}

.hobbie-check-box span:nth-last-child(2) {
    font-size: clamp(.85rem, 2.1vw, .9rem);
}

.register-user-photos {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register-user-photo,
.register-user-photo-avatar {
    border: 1px solid var(--borderColor1);
    position: relative;
}

.register-user-photo-avatar {
    width: clamp(105px, 17vw, 120px);
    height: clamp(105px, 17vw, 120px);
    border-radius: 50%;
    background-color: var(--backGround2);
    display: flex;
    align-items: center;

    &:hover {
        border: 1px solid var(--brand1);
    }
}

.register-user-photo-avatar img {
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    display: block;
    object-fit: cover;
}

.input-file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:active {
        background-color: var(--brand1);
    }
}

.image-add-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register-container h3 {
    margin-top: .85rem;
    font-weight: 600;
    font-size: 0.85rem;
}

.register-photo-group {
    margin-block: 2.5rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 7px;
}

.register-user-photo {
    width: clamp(95px, 10vw, 105px);
    height: clamp(92px, 9.9vw, 102px);
    border-radius: 12px;
    position: relative;

    &:active {
        border: 1px solid var(--brand1);
    }
}


.register-user-photo-close-icon,
.photo-close-icon {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: transform 250ms ease;

    &:hover {
        transform: scale(1.15);
    }
}

.register-user-photo-close-icon {
    top: -10%;
    right: -8px;
}

.photo-close-icon {
    left: 80%;
    top: 0%;
}

.register-user-photo img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.register-location-dropdown {
    border: 1px solid var(--borderColor1);
    margin: 1rem auto .5rem auto;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;

    cursor: pointer;

    background-color: var(--backGround3);
}

.register-location-dropdown.active {
    border: .7px solid var(--brand1);
    /* background: red; */
}

.arrow-down-icon {
    cursor: pointer;

    stroke: var(--darkText);

    &:active {
        stroke: var(--brand1);
    }
}

.register-location-dropdown-list {
    width: 100%;
    max-height: 240px;
    background: white;
    position: absolute;
    left: 0%;
    top: calc(100% + 10px);
    border: .7px solid var(--brand1);
    border-radius: 12px 0 0 0;
    scale: 1 0;
    transform-origin: top;
    z-index: 999;
    overflow: scroll;
    user-select: none;
    scrollbar-color: var(--brand1) rgba(216, 216, 216, 0.263);
}

.register-location-dropdown-list.active {
    scale: 1 1;
    transition: scale 200ms ease;
    visibility: visible;
}

.register-location-item {

    padding: .9rem;

    &:active {
        background: #E64997;
        color: white;
    }
}

.register-verify {
    margin: .5rem 0;
}

.verify-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 clamp(7px, 1.8vw, 10px);
    height: 19vw;
    min-height: 60px;
    max-height: 80px;
}

.verify-input-container {
    height: 100%;
    width: 100%;
    border: 1px solid var(--borderColor1);

    border-radius: 14px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-input-container input {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 12px;
    font-size: 1.4rem;
    color: var(--darkText);

    cursor: pointer;
}

.register-verify-send-again-button {
    cursor: pointer;
    display: block;
    font-size: .9rem;
    color: var(--darkText);

    display: flex;
    align-items: center;
    gap: 0 4px;

    &:hover {
        color: var(--brand1);
    }
}

.verify-input-container input:focus {
    outline: 1.8px solid var(--brand1);
}

.date-close-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .85rem;
    color: var(--brand1);
    margin-right: 1rem;
    margin-top: 1rem;
}

@media (min-width: 320px) {
    .register-wrapper {
        margin: 1.75rem auto 1rem auto;
    }
}

@media (min-width: 550px) {
    .register-wrapper {
        align-items: center;
        margin: 1rem auto
    }

    .register-birth-date:hover .date-box {
        border: 1.7px solid var(--brand1);
        cursor: pointer;
    }

}

@media (min-width: 768px) {

    .register-photo-group {
        gap: 13px 10px;
    }

    .register {
        padding: clamp(15px, 5vw, 18px) 0 0 0;
    }

    .register-location-item {
        &:hover {
            background: #E64997;
            color: white;
        }
    }

    .register-container {
        padding: 1.5rem 1.8rem;
    }

    .verify-input-container input:hover {
        outline: 1.8px solid var(--brand1);
    }

}

@media (min-width: 1024px) {

    .register-user-photo {

        &:hover {
            border: 1px solid var(--brand1);
        }
    }
}